/* # This code was written by Andreas Mohr. */
/* # Last change 17.01.2025. */
/* # This file defines the basic styling for a web page, including structure, navigation, and interactive elements. */

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	background-color: #4b0707;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

header {
	background-color: #dc3545;
	color: white;
}

main {
	flex: 1;
}

footer {
	background-color: #dc3545;
	color: white;
	position: relative;
	bottom: 0;
	width: 100%;

}

.nav-link {
	color: black !important;
	text-decoration: none;
}

.nav-link:hover {
	color: #dc3545 !important;
	text-decoration: none;

}

.nav-link.active {
	color: white !important;
	background-color: #4b080f !important;
	text-decoration: none;
}